.Profilepict{border-radius: 100%; box-shadow: 0px 0px 25px #2E4F4F;}
body{background-color: #CBE4DE;}
hr{border-style:dotted none none; color: #2E4F4F; width: 5%; height: 0px; border-width: 10px;}
h1{color: #2C3333;}
h3{color: #2E4F4F;} 
